.Home {
  text-align: center;
  margin: 30px auto;
}

.Board-title {
  width: 220px;
  height: 150px;
  border: 2px solid #96959578;
  border-radius: 4px;
  margin: 30px;
  text-align: left;
}

.Board-title:hover {
  cursor: pointer;
}
